body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h1 {
    color: #003580;
    margin: 1rem;
    padding: 1rem;
}

nav {
    background-color: #003580;
    color: #ffffff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.page {
    padding: 20px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #003580;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #dddddd;
    padding: 8px;
}

th {
    background-color: #f4f4f4;
}
.username {
    color: #003580;
    margin: 1rem;
}
.password {
    color: #003580;
    margin: 1rem;
}