<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="stylesheet" th:href="styles.css" />

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Credit Card</title>
	</head>
	<body>
		<div>
			<h1>h1 tag</h1>
			<a href="http://localhost:8080/">go to home screen</a>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit.
				Officiis libero vel nesciunt illum harum dolorum asperiores
				exercitationem pariatur quis ut, adipisci aliquam eum soluta
				similique saepe quidem omnis perspiciatis dolore!
			</p>
		</div>
	</body>
</html>
