<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="stylesheet" th:href="styles.css" />

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Credit Card</title>
	</head>
	<body class="main-body">
		<h1>Citi Credit Card Manager</h1>
		<!-- Navigation Bar -->
		<nav>
			<ul>
				<li><a href="http://localhost:8080/">Home</a></li>
				<li><a href="http://localhost:8080/statements">Statements Summary</a></li>
				<li><a href="http://localhost:8080/transactions">Transactions</a></li>
			</ul>
		</nav>

		<!-- Summary Page -->
		<div id="summary" class="page">
			<h2>Statements Summary</h2>
			<table>
				<tr>
					<td>Previous Balance</td>
					<td>$XXX.XX</td>
				</tr>
				<tr>
					<td>Payments and Credits</td>
					<td>-$XXX.XX</td>
				</tr>
				<tr>
					<td>Purchases</td>
					<td>$XXX.XX</td>
				</tr>
				<tr>
					<td>Balance Transfers</td>
					<td>$XXX.XX</td>
				</tr>
				<tr>
					<td>Cash Advances</td>
					<td>$XXX.XX</td>
				</tr>
				<tr>
					<td>Fees</td>
					<td>$XX.XX</td>
				</tr>
				<tr>
					<td>Interest Charged</td>
					<td>$XX.XX</td>
				</tr>
				<tr>
					<td>New Balance</td>
					<td>$XXX.XX</td>
				</tr>
				<tr>
					<td>Credit Line</td>
					<td>$XXXX.XX</td>
				</tr>
				<tr>
					<td>Available Credit</td>
					<td>$XXXX.XX</td>
				</tr>
				<tr>
					<td>Statement Close Date</td>
					<td>April 20, 2011</td>
				</tr>
				<tr>
					<td>Days in Billing Cycle</td>
					<td>30</td>
				</tr>
			</table>
		</div>
	</body>
</html>
