<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="stylesheet" th:href="styles.css" />

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home Page</title>
	</head>
	<body>
		<h1>Homepage Title</h1>
		<p>some text here</p>
		<a href="http://localhost:8080/credit-card">go to credit-card screen</a> <br>
		<a href="http://localhost:8080/statements">go to statements screen</a>
	</body>
	<script type="text/javascript" th:src="main.js"></script>
</html>
