<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<link
			rel="stylesheet"
			media="all"
			href="/styles.css"
			th:href="@{/styles.css}"
		/>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Statements</title>
	</head>
	<body class="main-body">
		<h1>Town® Credit Card Manager</h1>
		<nav>
			<ul>
				<li><a onclick="goToUserHome()">Home</a></li>
				<li>
					<a onclick="goToUserStatements()">Statements Summary</a>
				</li>
				<li>
					<a onclick="goToUserTransactions()">All Transactions</a>
				</li>
				<li id="sign-out-button">
					<a href="http://localhost:8080/login">Sign Out</a>
				</li>
			</ul>
		</nav>

		<!-- Statements Page -->
		<div id="statements" class="page">
			<h2>Statement History</h2>
			<div class="statement-summary">
				<div>
					<h3>By Category</h3>
					<ul>
						<li>Groceries: $200.02</li>
						<li>Internet Purchase: $203.34</li>
						<!-- More categories here -->
					</ul>
				</div>
				<div>
					<h3>Details</h3>
					<table>
						<tr>
							<th>Date</th>
							<th>Amount</th>
							<th>Description</th>
						</tr>
						<tr>
							<td>2019-08-10</td>
							<td>$200.02</td>
							<td>Lure Fishbar</td>
						</tr>
						<tr>
							<td>2019-08-08</td>
							<td>$203.34</td>
							<td>Langolo Ristorante</td>
						</tr>
						<!-- More statements here -->
					</table>
				</div>
			</div>
		</div>
	</body>
	<script
		type="text/javascript"
		href="/statements.js"
		th:src="@{/statements.js}"
	></script>
</html>
