<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="stylesheet" th:href="styles.css" />

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Statements</title>
	</head>
	<body>
		<h1>Statements Viewpage</h1>
		<a href="http://localhost:8080/">go to home screen</a>
		<p>here is a list of statements</p>
		<ol>
			<li>statement 1</li>
			<li>statement 2</li>
			<li>statement 3</li>
			<li>statement 4</li>
		</ol>
	</body>
</html>
