<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="stylesheet" media="all" href="/styles.css" th:href="@{/styles.css}" />

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Statements</title>
	</head>
	<body class="main-body">
		<h1>Town® Credit Card Manager</h1>
		<nav>
			<ul>
				<li><a onclick="goToUserHome()">Home</a></li>
				<li>
					<a onclick="goToUserStatements()">Statements Summary</a>
				</li>
				<li>
					<a onclick="goToUserTransactions()">All Transactions</a>
				</li>
				<li id="sign-out-button">
					<a href="http://localhost:8080/login">Sign Out</a>
				</li>
			</ul>
		</nav>

		<!-- Statements Page -->
		<div id="statements" class="page">
			<h2>Account Summary</h2>
			<div class="statement-summary">
				<div>
					<h3>Details</h3>
					<table class="statements-table">
						<tr>
							<th class="statements-header">Previous Balance</th>
							<td class="statements-data">$ 321.65</td>
						</tr>
						<tr>
							<th class="statements-header">Payments and Credits</th>
							<td class="statements-data">$ 432.76</td>
						</tr>
						<tr>
							<th class="statements-header">Purchases</th>
							<td class="statements-data">$ 543.87</td>
						</tr>
						<tr>
							<th class="statements-header">Balance Transfers</th>
							<td class="statements-data">$ 654.98</td>
						</tr>
						<tr>
							<th class="statements-header">Cash Advances</th>
							<td class="statements-data">$ 765.09</td>
						</tr>
						<tr>
							<th class="statements-header">Fees</th>
							<td class="statements-data">$ 876.10</td>
						</tr>
						<tr>
							<th class="statements-header">Interest Charged</th>
							<td class="statements-data">$ 987.21</td>
						</tr>
						<tr>
							<th class="statements-header">New Balance</th>
							<td class="statements-data">$ 109.32</td>
						</tr>
						<tr>
							<th class="statements-header">Credit Line</th>
							<td class="statements-data">$ 2,000.00</td>
						</tr>
						<tr>
							<th class="statements-header">Available Credit</th>
							<td class="statements-data">$ 1,500.00</td>
						</tr>
						<tr>
							<th class="statements-header">Statement Close Date</th>
							<td class="statements-data">10/31/2024</td>
						</tr>
						<tr>
							<th class="statements-header">Days in Billing Cycle</th>
							<td class="statements-data">31</td>
						</tr>
					</table>
					<br />
					<table class="statements-table">
						<tr>
							<th class="statements-header">Previous Balance</th>
							<td class="statements-data">$ 123.45</td>
						</tr>
						<tr>
							<th class="statements-header">Payments and Credits</th>
							<td class="statements-data">$ 234.56</td>
						</tr>
						<tr>
							<th class="statements-header">Purchases</th>
							<td class="statements-data">$ 345.67</td>
						</tr>
						<tr>
							<th class="statements-header">Balance Transfers</th>
							<td class="statements-data">$ 456.78</td>
						</tr>
						<tr>
							<th class="statements-header">Cash Advances</th>
							<td class="statements-data">$ 567.89</td>
						</tr>
						<tr>
							<th class="statements-header">Fees</th>
							<td class="statements-data">$ 678.90</td>
						</tr>
						<tr>
							<th class="statements-header">Interest Charged</th>
							<td class="statements-data">$ 789.01</td>
						</tr>
						<tr>
							<th class="statements-header">New Balance</th>
							<td class="statements-data">$ 890.12</td>
						</tr>
						<tr>
							<th class="statements-header">Credit Line</th>
							<td class="statements-data">$ 1,000.00</td>
						</tr>
						<tr>
							<th class="statements-header">Available Credit</th>
							<td class="statements-data">$ 500.00</td>
						</tr>
						<tr>
							<th class="statements-header">Statement Close Date</th>
							<td class="statements-data">09/30/2024</td>
						</tr>
						<tr>
							<th class="statements-header">Days in Billing Cycle</th>
							<td class="statements-data">30</td>
						</tr>
					</table>
					<br />
					<table class="statements-table">
						<tr>
							<th class="statements-header">Previous Balance</th>
							<td class="statements-data">$ 267.75</td>
						</tr>
						<tr>
							<th class="statements-header">Payments and Credits</th>
							<td class="statements-data">$ 267.75</td>
						</tr>
						<tr>
							<th class="statements-header">Purchases</th>
							<td class="statements-data">$ 0.00</td>
						</tr>
						<tr>
							<th class="statements-header">Balance Transfers</th>
							<td class="statements-data">$ 0.00</td>
						</tr>
						<tr>
							<th class="statements-header">Cash Advances</th>
							<td class="statements-data">$ 0.00</td>
						</tr>
						<tr>
							<th class="statements-header">Fees</th>
							<td class="statements-data">$ 0.00</td>
						</tr>
						<tr>
							<th class="statements-header">Interest Charged</th>
							<td class="statements-data">$ 0.00</td>
						</tr>
						<tr>
							<th class="statements-header">New Balance</th>
							<td class="statements-data">$ 207.98</td>
						</tr>
						<tr>
							<th class="statements-header">Credit Line</th>
							<td class="statements-data">$ 4,000.00</td>
						</tr>
						<tr>
							<th class="statements-header">Available Credit</th>
							<td class="statements-data">$ 3,792.02</td>
						</tr>
						<tr>
							<th class="statements-header">Statement Close Date</th>
							<td class="statements-data">08/31/2024</td>
						</tr>
						<tr>
							<th class="statements-header">Days in Billing Cycle</th>
							<td class="statements-data">30</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" href="/statements.js" th:src="@{/statements.js}"></script>
</html>
