<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<link
			rel="stylesheet"
			media="all"
			href="/styles.css"
			th:href="@{/styles.css}"
		/>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Transactions</title>
	</head>
	<body class="main-body">
		<h1>Town® Credit Card Manager</h1>

		<!-- Nav Bar -->
		<nav>
			<ul>
                <li><a href="http://localhost:8080/homepage">Home</a></li>
				<li><a href="http://localhost:8080/statements">Statements Summary</a></li>
				<li><a href="http://localhost:8080/transactions">All Transactions</a></li>
				<li id="sign-out-button"><a href="http://localhost:8080/login">Sign Out</a></li>
            </ul>
		</nav>

		<div id="transactions" class="page">
			<h2>Transaction History</h2>
			<div class="transactions">
				<h3>Details</h3>
				<table id="transactions-table">
					<tr class="transaction-list-element">
						<th>Reference</th>
						<th>Date</th>
						<th>Amount</th>
						<th>City</th>
						<th>State</th>
						<th>Country</th>
						<th>Merchant</th>
						<th>Category</th>
						<th>Status</th>
					</tr>
				</table>
			</div>
		</div>
	</body>
	<script
		type="text/javascript"
		href="/allTransactions.js"
		th:src="@{/allTransactions.js}"
	></script>
</html>
